<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCS IN BOX</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <a href="/"><h2>SuperMario</h2></a>

         <!-- <ul>
            <a href="#"><li>Features</li></a>
            <a href="#"><li>Pricing</li></a>
            <a href="#"><li>Accountants</li></a>
        </ul> -->
    </nav>
    <main>

        <section id="pricing">
            <h1>Need help?</h1>
            <h3>If you need any help, do not hesitate to contact us<br>
            </h3>

            <div class="contacts">            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="css/mailicon.jpg" class="img-fluid rounded-start" alt="Email icon" width="50">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Email</h5>
                      <a href="#"><p class="card-text">upgradeCompany@gmail.com</p></a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card mb-3" style="width: 200px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="css/phoneicon.jpg" class="img-fluid rounded-start" alt="Email icon" width="50">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">phone</h5>
                      <a href="#"><p class="card-text">01012131415</p></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="css/gpsicon.jpg" class="img-fluid rounded-start" alt="Email icon" width="50">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Visit us</h5>
                      <p class="card-text">8 near street, not far away from here</p>
                    </div>
                  </div>
                </div>
              </div></div>

    
        </section>
    </main>
    <footer></footer>

</body>
</html>