<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super-mario</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <a href="/"><h2>SuperMario</h2></a>
        <!-- <ul>
            <a href="#"><li>Features</li></a>
            <a href="#"><li>Pricing</li></a>
            <a href="#"><li>Accountants</li></a>
        </ul> -->
        <a href="/contact"><button>Contact us</button></a>
    </nav>
    <main>
    
        <section id="pricing">
            <h1>Categories</h1>
            <h3>Now you should be ready to start browsing.<br>
              But unfortuntly this section is yet to be implemented.
              </h3>
            <div id="pricing-cards">
                <div class="card">
                    <div class="card-groceries">
                    </div>
                    <ul class="card-perks">
                        <li>Groceries</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-household">
                    </div>
                    <ul class="card-perks">
                        <li>Household</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-self_care">

                    </div>
                    <ul class="card-perks">
                        <li>Self-care</li>
                    </ul>
                </div>
            </div>
            <div id="pricing-cards">
                <div class="card">
                    <div class="card-elec">

                    </div>
                    <ul class="card-perks">
                        <li>Electronics</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-fashion">

                    </div>
                    <ul class="card-perks">
                        <li>Fashion</li>
                    </ul>
                </div>
            </div>
    
        </section>
    </main>
    <footer></footer>

</body>
</html>